<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{eat}}">
		{{#if devoured}}Order More!{{else}}Take Home!{{/if}}
	</button>

	<button class="delete-eat" data-id="{{this.id}}">Send Back!</button>
</li>
